input/** filter=lfs diff=lfs merge=lfs -text
table_extraction/output/** filter=lfs diff=lfs merge=lfs -text
data/pdfs/** filter=lfs diff=lfs merge=lfs -text
data/osm/** filter=lfs diff=lfs merge=lfs -text
